@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../public/bg_chatapp1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background:#aaaaaa93;
}

::-webkit-scrollbar-thumb{
    background: #7e7e7e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #646464;
}
